/* Andres Bedoya */

@font-face {
    font-family: 'avenir_light';
    src: url('../fonts/avenir/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/avenir/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_book';
    src: url('../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/avenir/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.nova_seccion{
    text-align: center;
    background-repeat: no-repeat;
}

.nova_adorno_derecha{
    background-image: url(../imagenes/estrellas_derecha.png);
    background-position: right;
}
.nova_adorno_izquierda{
    background-image: url(../imagenes/estrellas_izquierda.png);
    background-position: left;
}
#nova_seccion_1{
    height: 940px;
    padding-top: 80px;
}

#nova_beneficios{
    width: 600px;
    margin: 0 auto;
}

#nova_seccion_2{
    height: 936px;
    padding: 60px;
}

.nova_check_mark{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nova_resaltar{
    color:#0092b0;
}

/* Fin estilos Andres Bedoya */

/* Manuela Villa */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir_light;
    font-size: 20px;
}

.nova_btn-whatsapp {
    display:block;
    width:20px;
    height:20px;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    margin: 100px;
}

.nova_img_wpp {
    width: 100px;
}

.nova_titulo1 {
    color: rgba(1,146,177,255);
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.nova_titulo2 {
    color: rgba(1,146,177,255);
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin: 10px;
}

#nova_img_info1 {
    width: 550px;
}


.nova_titulo3 {
    color: rgba(1,146,177,255);
    font-size: 40px;
}

.nova_titulo4 {
    color: rgba(1,146,177,255);
}

#nova_credito_contado {
    margin-bottom: 60px;
}

.nova_contenedorformasganar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.nova_formasganar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nova_tipsganar {
    display: flex;
    align-items: center;
}

.nova_contenedorpremios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.nova_contenedorpuntos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

.nova_iconosec3 {
    margin-right: 20px;
}

.nova_formasGanar {
    display: flex;
    justify-content: center;
    margin-left: 30%;
}

.nova_pseccion3 {
    text-align: left;
}

#nova_img_info31 {
    padding-right: 85px;
}

#nova_img_info32 {
    padding-left: 35px;
}

.nova_conPremios {
    text-align: left;
}

#nova_seccion_9{
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: left;
}

#nova_img_info9 {
    margin-bottom: 30px;
    margin-top: 30px;
}

#nova_seccion_10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nova_seccion101 {
    text-align: left;
    display: flex;
    margin-top: 30px;
}

.nova_usoflex {
    display: flex;
    align-items: center;
}

.nova_seccion102 {
    margin-top: 50px;
    text-align: left;
}

.nova_seccion103 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-top: 30px;
}


.nova_contacto {
    background-color: rgba(233,92,39,255);
    color: white;
    display: flex;
    align-items: center;
}

.nova_contenedorlogo_vision {
    margin-left: 20px;
    margin-right: 110px;
}

.nova_logo_vision {
    width: 400px;
}

.nova_mediospago {
    display: flex;
    align-items: center;
}

.nova_contenedormediospago {
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    margin-top: 50px;
}

#nova_tituloFooter {
    text-align: center;
}

#nova_novfooter {
    margin-top: 80px;
}

.nova_logo{
    margin: 20px;
}

.nova_lineasatencion {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}




























































































































































































































































































































































































































































/* Fin estilos Manuela Villa */
/* Estilos Andres Arenas */

/* Fin estilos Andres Arenas*/