/* Andres Bedoya */

@font-face {
    font-family: 'avenir_light';
    src: url('../fonts/avenir/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/avenir/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_book';
    src: url('../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/avenir/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.seccion{
    text-align: center;
    background-repeat: no-repeat;
}

.adorno_derecha{
    background-image: url(../imagenes/estrellas_derecha.png);
    background-position: right;
}
.adorno_izquierda{
    background-image: url(../imagenes/estrellas_izquierda.png);
    background-position: left;
}
#nova_seccion_1{
    height: 940px;
    padding-top: 80px;
}

#nova_beneficios{
    width: 500px;
    margin: 0 auto;
}

#nova_seccion_2{
    height: 936px;
}

.nova_check_mark{
    position: relative;
}
.nova_check_mark img:last-child{
    position: absolute;
    top: 84px;
    right: 470px;
}

.nova_resaltar{
    color:#0092b0;
}


















































































































































































































































































































































































































































































/* Fin estilos Andres Bedoya */

/* Manuela Villa */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir_light;
}

.btn-whatsapp {
    display:block;
    width:20px;
    height:20px;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    margin: 100px;
}

.img_wpp {
    width: 100px;
}

.titulo1 {
    color: rgba(1,146,177,255);
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.titulo2 {
    color: rgba(1,146,177,255);
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.titulo3 {
    color: rgba(1,146,177,255);
}

.titulo4 {
    color: rgba(1,146,177,255);
}


.contacto {
    background-color: rgba(233,92,39,255);
    color: white;
}






























































































































































































































































































































































































































































/* Fin estilos Manuela Villa */
/* Estilos Andres Arenas */

/* Fin estilos Andres Arenas*/