/* Andres Bedoya */

@font-face {
    font-family: 'avenir_light';
    src: url('../fonts/avenir/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/avenir/AvenirLTStd-Light.ttf') format('truetype'),
        url('../fonts/olivier_demo.ttf') format('truetype'),
        url('../fonts/AvenirHeavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_book';
    src: url('../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/avenir/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/olivier_demo.ttf') format('truetype'),
        url('../fonts/AvenirHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.nova_seccion{
    text-align: center;
    background-repeat: no-repeat;
}

.nova_adorno_derecha{
    background-image: url(../imagenes/estrellas_derecha.png);
    background-position: right;
}
.nova_adorno_izquierda{
    background-image: url(../imagenes/estrellas_izquierda.png);
    background-position: left;
}
#nova_seccion_1{
    height: 940px;
    padding-top: 80px;
}

#nova_beneficios{
    width: 600px;
    margin: 0 auto;
}

#nova_seccion_2{
    height: 936px;
    padding: 60px;
}

.nova_check_mark{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 740px;
    margin: 0 auto;
    display: flex;
}
.nova_check_mark img{
    align-self: flex-start;
    margin-right: 20px;
}
.nova_check{
    align-self: center !important;
}
.nova_resaltar{
    color:#0092b0;
}

/* Fin estilos Andres Bedoya */

/* Manuela Villa */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir_light;
    font-size: 20px;
}
p{
    color: #565656;
}    

a {
    list-style: none;
    text-decoration: none;
}

.nova_btn-whatsapp {
    display:block;
    width:20px;
    height:20px;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    margin: 100px;
}

.nova_img_wpp {
    width: 100px;
}

.nova_titulo1 {
    color: rgba(1,146,177,255);
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.nova_titulo2 {
    color: rgba(1,146,177,255);
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin: 10px;
}

#nova_img_info1 {
    width: 550px;
}


.nova_titulo3 {
    color: rgba(1,146,177,255);
    font-size: 40px;
}

.nova_titulo4 {
    color: rgba(1,146,177,255);
}

#nova_credito_contado {
    margin-bottom: 60px;
}

.nova_contenedorformasganar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.nova_formasganar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nova_tipsganar {
    display: flex;
    align-items: center;
}

.nova_contenedorpremios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.nova_contenedorpuntos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

.nova_iconosec3 {
    margin-right: 20px;
}

.nova_formasGanar {
    display: flex;
    justify-content: center;
    margin-left: 30%;
}

.nova_pseccion3 {
    text-align: left;
}

#nova_img_info31 {
    padding-right: 85px;
}

#nova_img_info32 {
    padding-left: 35px;
}

.nova_conPremios {
    text-align: left;
}

#nova_seccion_9{
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: left;
}

#nova_img_info9 {
    margin-bottom: 30px;
    margin-top: 30px;
}

#nova_seccion_10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nova_seccion101 {
    text-align: left;
    display: flex;
    margin-top: 30px;
}

.nova_usoflex {
    display: flex;
    align-items: center;
}

.nova_seccion102 {
    margin-top: 50px;
    text-align: left;
}

.nova_seccion103 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-top: 30px;
    color: white;
}

.nova_contacto {
    background-color: rgba(233,92,39,255);
    display: flex;
    align-items: left;
    padding: 30px 0;
}

.nova_contacto p{
    color: white;
}

.nova_contacto img {
    margin-left: 50px;
    margin-right: 110px;
    align-self: center;
}


.nova_mediospago {
    display: flex;
    align-items: center;
}

.nova_contenedormediospago {
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    margin-top: 50px;
}

#nova_tituloFooter {
    text-align: center;
}

#nova_novfooter {
    margin-top: 80px;
}

/* Fin estilos Manuela Villa */



/* Estilos Andres Arenas */
/* info 4 */
#nova_seccion_4{
    height: 940px;
    padding-top: 150px;
    background-repeat: no-repeat;
}
#nova_seccion_4 h2{
    color:rgb(1,146,177);
}
#nova_seccion_4 p{
    color: rgb(86,86,86);
}

/* info 5 */
#nova_seccion_5{
    height: 940px;
    padding-top: 80px;
}
#nova_seccion_5 h2{
    color:rgb(1,146,177);
    font-size: 38px;
}
#nova_seccion_5 p{
    color: rgb(86,86,86);
    font-size: 17px;
    text-align: center;
    
}
.nova_enlacePremios{
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.puntos{
    display: block;
    text-align: center;
}

#nova_seccion_5 a{
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: white;
    background-color:rgb(233,92,39) ;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem 1rem;
}
.nova_condiciones{
    font-size: 15px;
}

/* info 6 */
#nova_seccion_6{
    height: 940px;
    padding-top: 80px;
}
#nova_seccion_6 h1{
    display: inline;
    font-family:;
    font-size: 50px;
}
#nova_seccion_6, #nova_section_7, #nova_section_8 h2{
    color:rgb(1,146,177);
}
#nova_section_7 div{
    width: 900px;
    margin: 0 auto;
}
.nova_tabla{ 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nova_tituloTabla{
    color:rgb(1,146,177);
    font-weight: bold;
    text-align: center;
}
.nova_contenidoTabla{
    color: rgb(86,86,86);
    padding: 20px 50px;
    text-align: center;
}
/* Fin estilos Andres Arenas*/



/* Inicio Estilos Lucas Torres */

#nova_section_7, h2{
    font-family: AvenirHeavy, Calibri, sans-serif;
    font-size: 40px;
}
#nova_section_7 p{
    
    font-family: AvenirHeavy, Calibri, sans-serif;
    font-size: 20px;
}

#nova_section_7, #nova_section_8{
    text-align: left;
    margin: 0 auto;
    max-width: 75%;
    /* border: #0092b0 1px solid; */
    padding: 4% 1%;
}

.nova_checks, #nova_pagos_1 {
    display: flex;
    align-items: center;
    margin: 1em;
}

#nova_cont_puntos {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 1%;
}

.nova_cont_P {
    /* border: saddlebrown 1px solid; */
    margin: 10px !important;
    text-align: center;
    width: 152px !important;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
}

.nova_cont_P:hover {
    cursor: pointer;
    background-color: #e69b80;
}

.nova_rub {
    background-color: #F5CFDE;
}
.nova_zaf {
    background-color: #D9E4EE;
}
.nova_esm {
    background-color: #D9EFEE;
}
.nova_dmt {
    background-color: #E5DDEA;
}
.nova_dmt_plus {
    background-color: #E7DFED;
}

#nova_section_8 h2:first-child{
    text-align: center;
}
#nova_section_8 h3{
    color: #0092b0;
}
#nova_catalogo_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nova_cta_mis_premios {
    font-family: AvenirHeavy, Calibri, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: white;
    background-color: #EA5C27;
    padding: 2% 5%;
    border-radius: 50px;
}